<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>World Food Store</title>
  <link rel="stylesheet" href="./css/d.css">
  <link rel="stylesheet" href="./css/jass.css">
</head>
<body>
  <header class="main">
<div class="container">
     <div>
          <h3>Food World</h3>
     </div>
     <div class="btn">
          <input type="text" size="80">
          <button>Search</button>
     </div>
     <div class="last-container">
          <div>
               <p>SIgn In</p>
          </div>
          <div>
               <p>Cart</p>
          </div>
     </div>
</div>
  </header>
        <main class="container container-fluid mt-5">
        {{{ body }}}
      </main>
</body>
</html>