 <nav class="navbar navbar-dark bg-dark">
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <button class="btn btn-primary me-md-2" type="button" id='login'>Login</button>
  <button class="btn btn-primary" type="button" id='basket'>Cart</button>
</div>
</nav>
 
 <div class="container">
   {{#each products as |product|}}
<div class="card" style="width: 18rem;" width="600px">
    <img src={{product.product_image}} alt="">
  <div class="card-body">
    <h5 class="card-title"> {{product.product}}</h5>
    <p class="card-text">{{product.price}}</p>
    <button id='addtocart'>Add to Cart</button>
  </div>
</div>
     {{/each}}
 </div> 
       <footer class="bg-light text-center navbar-dark bg-dark">
  <!-- Grid container -->
  <div class="container1 p-4 pb-0"
    <!-- Section: Social media -->
    <section class="mb-4">
  
      <!-- Instagram -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #ac2bac;"
        href="#!"
        role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #0082ca;"
        href="#!"
        role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>
      <!-- Github -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #333333;"
        href="#!"
        role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>


  <!-- Copyright -->
  <div class="text-center p-3 ">
    <h5> 2022 By loveBites LLC </h5>
  </div>
  <!-- Copyright -->
</footer>

<script src="/js/homepage.js"></script>

 