 <nav class="navbar navbar-dark bg-dark">
   <button type="button" class="btn btn-primary" id= "login">login</button>
   <button type="button" class="btn btn-primary" id= "Chart">Cart</button>
  <div class="container-fluid d-flex justify-content-center">
    <form class="d-flex  input-group w-auto">
      <input
        type="search"
        class="form-control rounded"
        placeholder="Search"
        aria-label="Search"
        aria-describedby="search-addon"
      />
      <button class="input-group-text text-white border-0" id="search-addon">
        <i class="fas fa-search"></i>
      </button>
    </form>
  </div>
</nav>
 
 <div class="container">
   {{#each products as |product|}}
<div class="card" style="width: 18rem;" width="600px">
    <img src={{product.product_image}} alt="">
  <div class="card-body">
    <h5 class="card-title"> {{product.product}}</h5>
    <p class="card-text">{{product.price}}</p>
    <button id='addtocart'>ADD</button>
  </div>
</div>
     {{/each}}
 </div> 
 
       <footer class="bg-light text-center navbar-dark bg-dark">
  <!-- Grid container -->
  <div class="container1 p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
  
      <!-- Instagram -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #ac2bac;"
        href="#!"
        role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #0082ca;"
        href="#!"
        role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>
      <!-- Github -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #333333;"
        href="#!"
        role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>


  <!-- Copyright -->
  <div class="text-center p-3 ">
    <h5> 2022 By loveBites LLC </h5>
  </div>
  <!-- Copyright -->
</footer>

<script src="/js/login.js"></script>

 