    <div class="login-page">
        <div class="form">
            <h1>Food World</h1>
            <form action="" class="login-form">
                <input type="text" placeholder="User Name">
                <input type="text" placeholder="Password">
                <button>Login</button>
                <p class="message">Not a Member? <a href="signup.handlebars">Sign Up</a></p>
              </form>
        </div>
    </div>