<div class="col-25">
    <h3>Order</h3>
    <div class="container">
      <p id="item">Item<span class="price">$15</span></p>
      <p><span class="price" id="price">$15</span></p>
      <hr>
      <p>Total<span class="price" id="total"></span></p>
      <button type="button" class="btn btn-primary" id="checkout">Check Out</button>
    </div>
  </div>
</div>