    <div class="login-page">
        <div class="form">
            <h1>Payment</h1>
            <form action="" class="login-form">
                <input type="text" placeholder="Card Name">
                <input type="text" placeholder="Card Number">
                <div class="expired">
                    <div class="box-1">
                      <input type="text" placeholder="MM/YY">
                    </div>
                    <div class="box-2">
                      <input type="text" placeholder="CVV">
                    </div>  
                </div>
                <button>Confirm</button>
              </form>
        </div>
    </div>