    <div class="login-page">
        <div class="form">
            <h1>Sign Up</h1>
            <form action="" class="register-form">
                <input type="text"  id="email-singup" placeholder="Email">
                <input type="text"  id="last-singup" placeholder="Last Name">
                <input type="text"  id="first-singup" placeholder="First Name">
                <input type="password" id="password-singup" placeholder="Password">
                <input type="text"id="street-singup" placeholder="Street Address">
                <input type="text"  id="city-singup" placeholder="City">
                <input type="text"  id="state-singup" placeholder="State">
                <input type="text"  id="zip-singup" placeholder="Zip Code">
                <input type="text"  id="country-singup" placeholder="Country">
                {{!-- <div>
                    <h1>Payment</h1>
                    <input type="text" id="" placeholder="Card Name">
                    <input type="text" id="" placeholder="Card Number">
                </div>
                <div class="expired">
                    <div class="box-1">
                      <input type="text" id="" placeholder="MM/YY">
                    </div>
                    <div class="box-2">
                      <input type="month" id="" placeholder="CVV">
                    </div>  
                </div> --}}
                <button type="submit">Confrim</button>
                <p class="message">Already a Member? <a href="login.html">Login</a></p>  
            </form>
        </div>
    </div>
    <script src="/js/login.js"></script>