    <div class="login-page">
        <div class="form">
            <h1>Sign Up</h1>
            <form action="" class="register-form">
                <input type="text" name="" id="" placeholder="Email">
                <input type="text" name="" id="" placeholder="Password">
                <input type="text" name="" id="" placeholder="Street Address">
                <input type="text" name="" id="" placeholder="Apartment, suit etc.">
                <input type="text" name="" id="" placeholder="City">
                <input type="text" name="" id="" placeholder="State">
                <input type="text" name="" id="" placeholder="Zip Code">
                <input type="text" name="" id="" placeholder="Country">
                <div>
                    <h1>Payment</h1>
                    <input type="text" name="" placeholder="Card Name">
                    <input type="text" name="" placeholder="Card Number">
                </div>
                <div class="expired">
                    <div class="box-1">
                      <input type="text" placeholder="MM/YY">
                    </div>
                    <div class="box-2">
                      <input type="text" placeholder="CVV">
                    </div>  
                </div>
                <button>Confrim</button>
                <p class="message">Already a Member? <a href="login.html">Login</a></p>  
            </form>
        </div>
    </div>
    <script src="/js/login.js"></script>